<div id="{{group_id}}" class="unmanic-worker">
    <div class="unmanic-worker-progress-container" style="width: 100px; height: 100px;">
        <ui-progress-circle value="100" color="#AAA" stroke="5" radius="97.5" class="hydrated"></ui-progress-circle>
        <ui-progress-circle id="unmanic_worker_progress_bar_{{id}}" color="success" radius="110" class="hydrated" value="100"></ui-progress-circle>
        <ui-progress-circle id="unmanic_worker_progress_activity_{{id}}" radius="" class="indeterminate hydrated"></ui-progress-circle>
        <div class="worker-progress-inner">
            <div class="worker-progress-status" id="unmanic_worker_progress_status_{{id}}"></div>
            <div class="worker-progress-value" id="unmanic_worker_progress_value_{{id}}">70</div>
            <div class="worker-progress-unit" id="unmanic_worker_progress_unit_{{id}}">%</div>
        </div>
    </div>
</div>
{{!--
current_file: ""
ffmpeg_log_tail: Array []
group_id: "#unmanic_worker_2"
id: "2"
idle: true
name: "Worker-2"
pid: 140245681026816
progress: Object {  }
runners_info: Array []
start_time: null
--}}
